@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');



#split-container {
    z-index: 100;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vw;
    position: fixed;
    background-color: rgb(100, 116, 139, 0.7);
}


#split {
    position: absolute;
    z-index: 101;
    width: 350px;
    height: 100%;
    left: 0px;
    background-color: white;
}




#close-split {
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;



    & :hover {
        transform-origin: center;
        scale: 1.2;
    }

}


#option-container {
    margin-top: 50px;

}


.category-options {
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    border: 0px;
    padding: 10px 40px;
    font-family: 'Assistant', sans-serif;
    text-align: left;



    &:hover {
        background-color: beige;
    }

}



.sub-category-options {
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
    border: 0px;
    padding: 10px 100px;
    font-family: 'Assistant', sans-serif;
    text-align: left;



    &:hover {
        background-color: beige;
    }

}

#clear-filter {

    text-align: center;
    margin-top: 100%;


}

#clear-filter-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: rgb(33, 63, 211) 3px solid;
    border-radius: 20px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 15px;

    &:hover {
        scale: 1.2;
        box-shadow: 5px 5px 5px grey;
    }
}